/*
 * Waybar configuration
*/

/* Set font, color, and family */
* {
  color: #ebdbb2;
  font-size: 14px;
  font-family: 'Hack';
  border-radius: 0px;
}

/* Floating bar */
window#waybar {
  background: #282828;
  border-radius: 3px;
}

/* Modules */
.modules-left,
.modules-right,
.modules-center {
  background: transparent;
  margin: 2px 2px;
}

/* Workspace buttons */
#workspaces button {
  padding: 0px 0px;
  border-radius: 2px;
}
#workspaces button.focused {
  background: #504945;
  border-bottom: 2px solid #83a598;
}
#workspaces button:hover {
  background: #32302f;
}

/* Workspaces container */
#workspaces {
  margin-right: 4px;
}

/* Item margins */
#idle_inhibitor,
#network,
#clock,
#cpu,
#memory,
#battery,
#window,
#mode,
#disk,
#pulseaudio {
  margin: 0px 4px;
}

/* Blue text */
#cpu,
#memory,
#battery,
#mode,
#disk {
  color: #83a598;
}
