/*
 * Waybar configuration
 */

/* Set font, color, and family */
* {
  color: #ebdbb2;
  font-size: 14px;
  font-family: 'Hack';
  border-radius: 0px;
}

/* Floating bar */
window#waybar {
  background: #282828;
  border-radius: 3px;
}

/* Activated style */
tooltip,
#idle_inhibitor.activated {
  background: #3c3836;
  padding: 0px 6px;
  border: 2px solid #504945;
  border-radius: 4px;
}

/* Green activated style */
#mode {
  color: #f8fb26;
  background: #98971a;
  padding: 0px 6px;
  border: 3px solid #b8bb26;
  border-radius: 6px;
}

/*
 * The container for modules-left
 * modules-right and modules-center
 */
window > box {
  background: #282828;
  margin: 2px 2px;
}

/* Modules */
.modules-left,
.modules-right,
.modules-center {}

/* Workspace buttons */
#workspaces button {
  padding: 0px 0px;
  border-radius: 2px;
}
#workspaces button.focused {
  background: #504945;
  border-bottom: 2px solid #83a598;
}
#workspaces button:hover {
  background: #32302f;
}

/* Workspaces container */
#workspaces {
  margin-right: 4px;
}

/* Item margins */
#idle_inhibitor,
#network,
#clock,
#cpu,
#memory,
#battery,
#window,
#mode,
#disk,
#pulseaudio {
  margin: 0px 4px;
}

/* Blue text */
#cpu,
#memory,
#battery,
#disk {
  color: #83a598;
}
