decoration {
    box-shadow: none;
}

decoration:backdrop {
    box-shadow: none;
}

.titlebar,
.titlebar .background {
    border-radius: 0;
    box-shadow: none;
}

messagedialog {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
